{% extends 'base.html' %}
{% block content %}
<!-- 글목록 -->
<div class="container">
    <form action="{% url 'main:article_create' %}" method="post" class="my-3">
        {% csrf_token %}
        <input type="hidden" name="board_type" value="{{ board_type }}">
        <div class="mb-3">
            <label class="form-label border-bottom fs-4 fw-semibold">제목</label>
            <input class="form-control" name="subject" type="text" placeholder="제목을 입력해주세요.">
        </div>
        <div class="mb-3">
            <label class="form-label border-bottom fs-4 fw-semibold">내용</label>
            <textarea class="form-control" name="content" rows="10" placeholder="내용을 입력해주세요."></textarea>
        </div>
        <input type="submit" value="등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}